/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@media (min-width: 1px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
  }
}
body {
  min-width: 600px;
}
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main {
  text-align: center;
  color: white;
  background: #212529;
  min-height: 470px;
}
.panel-outer {
  background-color: #212529;
  overflow: hidden;
  position: relative;
  min-height: 470px;
  color: white;
}
.heading-home {
  text-align: center;
  margin: 0px;
  padding-top:1rem;
  position:relative;
  z-index:10;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card {
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 50px;
  margin-bottom: 0px;
}

.social-icons {
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 0px;
  filter: brightness(0) invert(1);
}

.lower {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.35898109243697474) 0%, rgba(246,248,250,1) 64%);
  border-bottom-style: solid;
}

    @media (max-width: 700px) {
        .card-columns.custom-columns {
            column-count: 1;
        }
    }
    @media (min-width: 700px) {
        .card-columns.custom-columns {
            column-count: 2;
        }
    }
    @media (min-width: 1000px) {
        .card-columns.custom-columns {
            column-count: 3;
        }
    }
    @media (min-width: 1400px) {
        .card-columns.custom-columns {
            column-count: 4;
        }
    }

.background-circle {
  z-index: 1;
  display: block;
  position: absolute;
}

.left-circle {
  width: 90%;
  top: -30%;
  left: -65%;
  padding-bottom: 80%;
  background-color: #0366d6;
}

.right-circle {
  width: 100%;
  top: -30%;
  right: -90%;
  padding-bottom: 100%;
  background-color: #0366d6;
}

/* change the background color */
.navbar-custom {
  background-color: #141414;
}
#footer {
  display: none;
}
