<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="background-color: #141414!important; margin:0rem !important;
    border-bottom: 0px !important;"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Portfolio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Personal Projects</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/professional']"
              >Work Experience</a
            >
          </li>-->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" target="_blank" href="../../assets/Vincent_Garavuso_Resume_7.29.2020.pdf"
              >Resume</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
